name: Gold Price Notification

on:
  # 1. Chạy khi có commit mới được push (hoặc merge) vào nhánh main
  push:
    branches:
      - main

  # 2. Chạy định kỳ (Cronjob)
  schedule:
    # Giải thích: Phút thứ 0, tại các giờ: 1,3,5,7,9,11,13,15 (UTC) và 23 (UTC)
    # Tương đương VN: 8h, 10h, 12h, 14h, 16h, 18h, 20h, 22h và 6h sáng
    - cron: '0 1,3,5,7,9,11,13,15,23 * * *'

  # 3. Cho phép chạy thủ công nút bấm
  workflow_dispatch:

jobs:
  check-price-and-email:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Scrape Gold Price
        id: scrape_step
        run: python scrape_gold.py

      - name: Send mail
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: ${{ steps.scrape_step.outputs.GOLD_SUBJECT }}
          to: phamquangviet891@gmail.com
          from: Gold Price Bot
          html_body: ${{ steps.scrape_step.outputs.GOLD_BODY }}